<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>AirToy - 로그인</title> -->
    <title>{{title}}</title>
</head>
<body>
    {% if user %}
    <a>{{'안녕하세요! ' + user.nick + '님'}}</a>
    <form id="logout-form" action="auth/logout" method="post">
        <button id="login" class="btn" type="submit">로그아웃</button>
    </form>
    {% else %}
    <a>{{'로그인을 해주세요'}}</a>
    <!-- form 부분 없으면 post 메서드 발생 안함 -->
    <form id="login-form" action="auth/login" method="post">
        <input id="id_text" type="text" name="email"> 아이디
        <br />
        <input id="pw_text" type="password" name="password" required> 비밀번호
        <button id="login" class="btn" type="submit">로그인</button>
        <div>
            <a id="join" href="/join" class="btn">회원가입</a>
        </div>
    </form>
    {% endif %}
</body>
</html>